<h1>Movie Marathon</h1>

<div class="step" id="step-one">
  <span>1. Type in the desired length of your movie marathon.</span>
</div>

<div id="desired-marathon-length"></div>

<div class="step" id="step-two">
  <span>2. Pick some friends to join you.</span>
</div>

<div id="pick-friends"></div>

<div class="step" id="step-three">
  <span>3. Pick some movies.</span>
</div>

<div id="pick-movies"></div>

<div class="step" id="step-four">
  <span>3. Enjoy.</span>
</div>

<div id="enjoy"></div>